* {
 margin: 0;
 padding: 0;
}

/*      *****     ELEMENT SELECTORS     *****       */

body {
 display: flex;
 flex-direction: column;
 align-items: center;
}

textarea {
 min-width: 300px;
 max-width: 300px;
}

/*      *****     CLASS SELECTORS     *****       */

.form {
 display: flex;
 flex-direction: column;
 width: 300px;
 max-height: 500px;
 margin-top: 50px;
 padding: 20px;
 border: 1px solid gray;
}

.post {
 background-color: white;
 padding: 10px;
 margin: 10px 10px;
 border: 1px solid lightgray;
}

.postFooter {
 display: flex;
 flex-direction: row;
 font-size: 10px;
 justify-content: space-evenly;
 flex-wrap: wrap;
}

.postButtonFooter {
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
}

.editButton {
 width: 100px;
}

.deleteButton {
 width: 100px;
}

/*      *****     ID SELECTORS     *****       */

/* * * * * DIVS * * * * */
#postContainer {
 overflow: auto;
 background-color: rgb(245, 245, 245);
 border: 1px solid rgb(230, 230, 230);
 ;
}

/* * * * * TEXT AREA * * * * */
#addCategoryInput {
 width: 100%;
}

/* * * * * BUTTONS * * * * */
#importButton {
 height: 100%;
 width: 75px;
 margin-left: 10px;
}

#addCategoryButton {
 height: 100%;
 min-width: 100px;
 margin-left: 10px;
}

/* * * * * DROP DOWN MENUS * * * * */
#importCategoryInput {
 flex-grow: 1;
}

#categorySelect {
 display: flex;
 flex-grow: 0;
 flex-direction: row;
 min-width: 250px;
 max-width: 400px;
}