:root {
  --accentColor: rgb(113, 180, 209);
  --borderColor: rgb(175, 175, 175);
  --backgroundColor: rgb(250, 250, 250);
  --hoverColor: rgb(140, 210, 190);
  --postColor: rgb(250, 250, 250);
  --postHoverColor: rgb(255, 255, 255);
  --accentFontColor: rgb(255, 255, 255);
  --fontColor: rgb(0, 0, 0);
  --placeholder-color: rgb(125, 125, 125);
  --placeholderHover-color: black;
  --disabled-color: gray;
  --border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}

/*      *****     ELEMENT SELECTORS     *****       */
/* * * * * BASIC ELEMENTS * * * * */
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  padding: 10px;
}

h2 {
  letter-spacing: 3px;
  font-size: 20px;
}

h3 {
  letter-spacing: 3px;
  font-size: 20px;
}

h4 {
  letter-spacing: 3px;
  font-size: 16px;
}

p {
  letter-spacing: 0px;
  font-weight: 100;
  font-size: 16px;
  font-weight: 200;
  color: var(--fontColor);
}

select {
  color: var(--placeholder-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--borderColor);
}

/* * * * * INPUT TYPES * * * * */
input::file-selector-button {
  display: none;
}

input[type=color] {
  border: 1px solid var(--borderColor);
  border-radius: var(--border-radius);
}

input[type=text] {
  border: 1px solid var(--borderColor);
  padding: 1px;
  border-radius: var(--border-radius);
}

input[type=number] {
  border-radius: var(--border-radius);
  border: 1px solid var(--borderColor);
  padding: 1px;
}

input[type=file] {
  display: flex;
  color: var(--accentFontColor);
  border: 1px solid var(--borderColor);
  background-color: var(--accentColor);
  border-radius: var(--border-radius);
  padding: 1px 10px;
}

/* * * * * HOVER EFFECTS * * * * */
a:hover {
  color: var(--hoverColor)
}


input[type=text]:hover {
  border: 1px solid var(--hoverColor);
  border-radius: var(--border-radius);
  padding: 1px
}

input[type=color]:hover {
  border-color: var(--hoverColor);
}

input[type=file]:hover {
  background-color: var(--hoverColor);
}

input[type=number]:hover {
  color: var(--placeholderHover-color);
  padding: 1px;
  border: 1px solid var(--hoverColor)
}

textarea:hover {
  border: 1px solid var(--hoverColor);
  border-radius: var(--border-radius);
}

select:hover {
  color: var(--placeholderHover-color);
  border: 1px solid var(--hoverColor);
}

input[type=number]:hover::placeholder {
  color: var(--placeholderHover-color);
}

input[type=text]:hover::placeholder {
  color: var(--placeholderHover-color);
}

/* * * * * OTHER PROPERTIES * * * * */
button:disabled {
  background-color: var(--disabled-color);
}

::placeholder {
  color: var(--placeholder-color);
  padding-left: 3px;
}


/*      *****     CLASS SELECTORS     *****       */
.headerContent {
  padding: 5px 10px;
}

.iconHeader {
  display: flex;
  align-items: center;
  padding: 2px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 398px;
  padding: 20px;
  justify-content: flex-start;
  flex: 0 1 auto;
  min-width: 300px;
}

.newForm {
  display: flex;
  flex-direction: column;
  margin: 5px;
  justify-content: flex-start;
  flex: 0 1 auto;
}


.post {
  padding: 10px;
  margin: 10px 10px;
}

.postFooter {
  display: flex;
  flex-direction: row;
  font-size: 8px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.postButtonFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.postButton {
  width: 150px;
}

.standardButton {
  width: 100px;
  margin-left: 10px;
}

.w100p {
  width: 100%;
}

.h100p {
  height: 100%;
}

.flexGrow1 {
  flex-grow: 1;
}

.addBorder {
  border: 1px solid;
  border-radius: var(--border-radius);
}

.addFlex {
  display: flex;
}


/*      *****     ID SELECTORS     *****       */
/* * * * * DIVS * * * * */
#backendHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#backendMain {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding: 20px 20px 100px 20px;
  justify-content: center;
}

#backendFooter {
  display: flex;
  align-content: center;
  justify-content: center;
}

#postContainer {
  max-height: 350px;
  overflow-y: scroll;
}

#editForm {
  max-height: 600px;
}

#renameInputContainer {
  display: flex;
  flex-direction: row;
}

#infoDisplayContainer {
  max-height: 350px;
  overflow-y: scroll;
}

/* * * * * BUTTONS * * * * */
#addCategoryButton,
#renameCategorySubmit {
  min-width: 100px;
  margin-left: 10px;
}


/* * * * * DROP DOWN MENUS * * * * */
#categorySelect {
  display: flex;
  flex-direction: row;
}

/* * * * * IMAGES * * * * */
#iconTest {
  width: 25px;
  padding-left: 10px;
  filter: invert(1);
}

#menuIcon {
  width: 25px;
  filter: invert(1);
  padding: 2px;
  padding-right: 10px;
}

#infoCategorySelect {
  display: flex;
}

/*      *****     Scrollbar Modifiers     *****       */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--accentColor);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--hoverColor);
  border-radius: 10px;
}


/*      *****     Color Modifiers     *****       */
.postBG {
  background-color: var(--postColor);
}

.postBG:hover {
  background-color: var(--postHoverColor);
}

.accentColorNoHover {
  border-color: var(--accentColor);
}

.accentColor {
  background-color: var(--accentColor);
}

.hoverColor:hover {
  background-color: var(--hoverColor);
}

.accentFontColor {
  color: var(--accentFontColor);
}

.accentFontColor:hover {
  color: var(--accentFontColor);
}

.fontColor {
  color: var(--fontColor);
}

.borderColor {
  border-color: var(--borderColor);
}

.borderColor:hover {
  border-color: var(--hoverColor);
}

.backgroundColor {
  background-color: var(--backgroundColor);
}

.placeholderColor {
  color: var(--placeholder-color)
}