:root {
  --accentColor: white;
  --borderColor: white;
  --backgroundColor: white;
  --hoverColor: white;
  --postColor: white;
  --postHoverColor: white;
  --accentFontColor: white;
  --fontColor: white;
  --placeholder-color: rgb(125, 125, 125);
  --placeholderHover-color: black;
  --disabled-color: gray;
  --border-radius: 5px;
  --blur-pixels: 0px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}

/*      *****     WORKING ELEMENTS    *****       */

#categoryContainer {
  margin-top: 10px;
  justify-content: space-evenly;
  width: 90%;
  flex-direction: row;
}

#addCategoryDescription {
  margin-bottom: 5px;
}

#contentContainer {
  margin-top: 10px;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

#productsTitle {
  padding-top: 10px;
  justify-content: left;
}

#missionStatement {
  width: 33%;
  padding: 0px 50px;
}

#mainHeader {
  justify-content: center;
}

.categoryPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.contentPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.contentPostFooter {
  width: 90%;
}

.categoryImage {
  width: 100%;
  object-fit: contain;
  flex: 1 1 auto;
}

.contentPostImage {
  width: 100%;
  object-fit: contain;
  flex: 1 1 auto;
}

.categoryClass {
  flex-direction: column;
  width: 33.33%;
  justify-content: start;
}

@media screen and (max-width: 400px) {
  .postClass {
    flex-direction: column;
    min-width: 24%;
    justify-content: start;
  }
}

@media screen and (min-width: 400px) and (max-width: 700px) {
  .postClass {
    flex-direction: column;
    max-width: 47.5%;
    justify-content: start;
  }
}

@media screen and (min-width: 700px) {
  .postClass {
    flex-direction: column;
    max-width: 24.2%;
    justify-content: start;
  }
}

@media screen and (max-width: 1200px) {
  #contactMeDiv {
    flex-direction: column;
  }

  #contactFormDiv {
    min-width: 300px;
    max-width: 500px;
  }
}

@media screen and (min-width: 1200px) {
  #contactMeDiv {
    flex-direction: row;
  }

  #contactFormDiv {
    min-width: 500px;
  }
}

#contactMeDiv {
  align-items: center;
}

.categoryClassCenter {
  margin: 0px 10px;
}

.categoryClassCenter_Right {
  margin-right: 10px;
}

.mainHomepage {
  flex-direction: column;
  padding: 40px 20px 100px 20px;
  align-items: center;
}

.padding5p {
  padding: 0px 2px;
}


/*      *****     ELEMENT SELECTORS     *****       */
body {
  flex-direction: column;
  overflow-x: hidden;

}

a {
  padding: 10px;
}

h2 {
  letter-spacing: 3px;
  font-size: 20px;
}

h3 {
  letter-spacing: 3px;
  font-size: 20px;
}

h4 {
  letter-spacing: 3px;
  font-size: 16px;
  font-weight: 400;
}

p {
  letter-spacing: 0px;
  font-size: 16px;
  font-weight: 200;
}

.tos h1 {
  letter-spacing: initial;
  font-weight: 400;
  font-size: 40px;
}

.tos h2 {
  letter-spacing: initial;
  font-weight: 400;
  font-size: 30px;
}

.tos h3 {
  letter-spacing: initial;
  font-weight: 400;
  font-size: 25px;
}

.tos h4 {
  letter-spacing: initial;
  font-weight: 400;
  font-size: 20px;
}

.tos p {
  letter-spacing: initial;
  font-weight: 200;
  font-size: 15px;
}

img {
  overflow-clip-margin: 0px;
  overflow: none;
}

button:disabled {
  background-color: var(--disabled-color);
}

input::file-selector-button {
  display: none;
}

textarea {
  padding: 5px;
}

/*      *****     ID SELECTORS     *****       */
#postContainer {
  max-height: 350px;
  overflow-y: scroll;
}

#editForm {
  max-height: 600px;
}

#renameInputContainer {
  flex-direction: row;
}

#infoDisplayContainer {
  max-height: 350px;
  overflow-y: scroll;
  padding: 10px;
}

#addCategoryButton,
#editCategorySubmit {
  min-width: 100px;
  margin-left: 10px;
}


#categorySelect {
  flex-direction: row;
}

#iconTest {
  width: 25px;
  padding-left: 10px;
  filter: invert(1);
}

#menuIcon {
  width: 25px;
  filter: invert(1);
  padding: 2px;
  padding-right: 10px;
}

#gallery {
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 90%;
  height: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 50px;
}

#rightButton,
#leftButton {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

#rightButton {
  right: 0;
  border-radius: 3px;
  opacity: .33;
  margin-right: 5px;
}

#leftButton {
  left: 0;
  border-radius: 3px;
  opacity: .33;
  margin-left: 5px;
}

#loadingImage {
  display: none;
  position: fixed;
  z-index: 1000;
}

#menu {
  width: 100px;
  align-items: center;
  display: none;
  position: fixed;
  z-index: 1000;
}

.menuItem {
  padding: 5px;
}

/*      *****     Scrollbar Modifiers     *****       */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: var(--hoverColor);
}

::-webkit-scrollbar-track {
  box-shadow: inset 100px 1px 200px lightgray;
  border-radius: 0px;
}

::-webkit-scrollbar-button:single-button {
  background-color: #bbbbbb;
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #555555 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #777777 transparent;
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: #555555 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #777777 transparent transparent transparent;
}



/*      *****     Base Class Modifiers     *****       */
.headerContent {
  padding: 5px 10px;
}

.webHeader {
  justify-content: space-between;
  align-items: center;
}

.iconHeader {
  align-items: center;
  padding: 2px;
}

.main {
  flex-wrap: wrap;
  padding: 40px 0px;
  justify-content: center;
}

.postDescription {
  justify-content: left;
}

.mySlides {
  display: none;
}

.mainImage {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.imageContainer {
  height: 100%;
  padding-right: 50px;
  max-width: 100%;
}

.imageText {
  color: var(--accentFontColor);
  font-size: 12px;
  position: absolute;
  top: 0;
  padding: 5px 0px 0px 15px;
}

.footer {
  align-content: center;
  justify-content: center;
}

.form {
  flex-direction: column;
  margin: 5px;
  width: 398px;
  padding: 20px;
  justify-content: flex-start;
  flex: 0 1 auto;
  min-width: 300px;
}

.newForm {
  flex-direction: column;
  margin: 5px;
  justify-content: flex-start;
  flex: 0 1 auto;
}

.post {
  padding: 10px;
  margin: 10px 10px;
}

.postFooter {
  flex-direction: row;
  font-size: 8px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.postButtonFooter {
  flex-direction: row;
  justify-content: space-evenly;
}

.postButton {
  width: 150px;
}

.standardButton {
  width: 100px;
  margin-left: 10px;
}

.galleryButton {
  color: var(--accentFontColor);
}

.blurable {
  filter: blur(var(--blur-pixels));
}

/*      *****     Transform Modifiers     *****       */
.w100p {
  width: 100%;
}

.h100p {
  height: 100%;
}

.flexGrow1 {
  flex-grow: 1;
}

.addBorder {
  border: 1px solid;
  border-radius: var(--border-radius);
}

.addFlex {
  display: flex;
}

.onClickHover {
  cursor: pointer;
}

/*      *****     Color Modifiers     *****       */
/* BG COLOR */
.postBG {
  background-color: var(--postColor);
}

.postBG:hover {
  background-color: var(--postHoverColor);
}

.accentColor {
  background-color: var(--accentColor);
}

.hoverColor:hover {
  background-color: var(--hoverColor);
}

.backgroundColor {
  background-color: var(--backgroundColor);
}

.addDropShadow {
  filter: drop-shadow(5px 5px 2px lightgray);
}

.addDropShadowNoHover {
  filter: drop-shadow(5px 5px 2px lightgray);
}

/* BORDER COLOR */
.accentColorNoHover {
  border-color: var(--accentColor);
}

.borderColor {
  border-color: var(--borderColor);
}

.borderColor:hover {
  border-color: var(--hoverColor);
}

/* FONT COLOR */
.accentFontColor {
  color: var(--accentFontColor);
}

.accentFontColor:hover {
  color: var(--accentFontColor);
}

.fontColor {
  color: var(--fontColor);
}

.placeholderColor {
  color: var(--placeholder-color)
}

.placeholderColor:hover::placeholder {
  color: var(--placeholderHover-color);
}

.linkHoverColor:hover {
  color: var(--hoverColor);
}

.textHoverColor:hover {
  color: var(--fontColor);
}

.galleryButton:hover {
  background-color: var(--hoverColor);
  opacity: 0.6;
}

.addDropShadow:hover {
  filter: drop-shadow(1px 1px 4px var(--hoverColor));
}

.categoryPost:hover {
  background-color: var(--hoverColor);
  opacity: .8;
}